header {
	color: rgb(41, 41, 41);
	position: fixed;
	top: 0;
	right: 0px;
	padding: 35px 7vw;
	z-index: 3;

	opacity: 0;
	display: none;

	transition: opacity 1s cubic-bezier(0.09, 1.17, 0.7, 1.01);

	@media only screen and (max-width: @size-mobile-l) {
		padding: 20px 7vw;
	}

	ul {
		margin: 0;
		li {
			float: left;
			overflow: hidden;

			&:first-of-type {
				position: relative;
				right: 25px;
			}

			:after {
				content: '';
				width: 100%;
				height: 2px;
				display: block;
				margin-top: 1px;
				background-color: rgba(rgb(255, 255, 255), 0.8);
				transform: translateX(0%);
				transform-origin: bottom left;
				transition: animation 0.3s ease-in-out, opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
			}

			.active {
				opacity: 1;
			}

			.active:after {
				opacity: 1;
			}

			h4:after {
				content: none;
			}

			&:hover ::after {
				animation: 0.75s animateLine cubic-bezier(0.165, 0.84, 0.44, 1);
				animation-fill-mode: both;
			}
		}
	}
}

@keyframes animateLine {
	0% {
		transform: translateX(0%);
	}
	50% {
		transform: translateX(100%);
	}
	51% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}
}
