html,
body {
	.template--no-select;
	// .template--fixed-full-screen;

	overflow: hidden;
	overscroll-behavior: none;
	touch-action: none;

	color: var(--color-white);
	margin: 0;
}

html.no-js {
	body {
		display: none;
	}
}

#canvas {
	.template--fixed-full-screen;
	background-color: transparent;
}

#canvas {
	pointer-events: auto;
	display: none;

	.is-ready & {
		display: block;
	}
}

#ui {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	pointer-events: none;
	.is-ready & {
		pointer-events: auto;
	}
}
