#about {
	position: relative;
	width: 100vw;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #e5e5e5;
	color: #3e3e3e;

	scroll-behavior: smooth;

	opacity: 0;
	display: none;

	transition: opacity 1s cubic-bezier(0.09, 1.17, 0.7, 1.01);

	// grid
	.grid-container {
		display: grid;
		grid-template-columns: repeat(8, 1fr); /* Create 8 columns */
		column-gap: 20px; /* Set the width of the gutter */
		width: 86vw;
		margin: 0 auto;
	}

	.about-container {
		.about-container_title {
			.grid-container; // add grid
			padding-top: 265px;

			&--logo {
				grid-column: 1 / 9;
				font-size: 3.5rem;
				letter-spacing: 0;
				// background: -webkit-linear-gradient(135deg, #100d15, rgba(16, 13, 21, 0.5));
				// -webkit-background-clip: text;
				// -webkit-text-fill-color: transparent;
			}

			&--info {
				grid-column: 3 / 6;
				padding: 50px 0;
				padding-right: 50px;

				p {
					margin: 0;
				}
			}

			&--conclusion {
				grid-column: 7 / 9;
				padding: 50px 0;

				ul {
					padding: 0;
					margin: 0;
					li {
						text-transform: uppercase;
						list-style: circle;
						p {
							margin: 0;
						}
					}
				}

				button {
					margin: 20px 0;
					background-color: transparent;
					border: 1px solid rgba(#010101, 0.2);
					padding: 7px 22px;
					border-radius: 100px;
					position: relative;
					left: -10px;
					transition: all 0.3s ease-in-out;
					p {
						text-transform: uppercase;
						margin: 0;
					}
					&:hover {
						border: 1px solid rgba(#010101, 1);
					}
				}
			}

			&--backgroundImage {
				grid-column: 1 / 9;
				padding: 67px 0;
				height: 635px;
				margin-bottom: 165px;

				background-color: red;
				background-image: url('../../../public/assets/images/about/about_bg.png');
				background-size: cover;
			}
		}
		.about-container_sectionTitle {
			text-align: center;
			padding: 50px 0;
		}
		.about-container_whatIDo {
			.grid-container; // add grid
			grid-template-rows: repeat(6, 120px); /* Create 6 rows */

			&--backgroundImage {
				width: 462px;
				height: 629px;
				grid-column: 6 / 9;
				grid-row: 1 / 6;
				background-repeat: no-repeat;
				background-position: center center;
				&.backgroundImageFrontEnd {
					background-image: url('../../../public/assets/images/about/about_frontEnd.png');
				}
				&.backgroundImage3D {
					background-image: url('../../../public/assets/images/about/about_3D.png');
				}
			}
			&--line {
				grid-column: 1 / 7;
				grid-row: 1 / 2;
				background-color: rgb(0, 0, 0);
				height: 1px;
				align-self: center;
			}
			&--index {
				grid-column: 1 / 2;
				grid-row: 1 / 2;
				align-self: end;
				font-size: 1.2rem;
				color: #636363;
				font-family: 'senregular';
				font-weight: 200;
			}
			&--title {
				grid-column: 1 / 5;
				grid-row: 2 / 4;
				align-self: center;
			}
			&--description {
				grid-column: 1 / 4;
				grid-row: 4 / 5;
				align-self: center;
			}
		}
		.about-container_chameleon {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			height: 226px;

			&--quote {
				width: 360px;
				text-align: center;
			}

			#chameleon {
				.pupils {
					transform-origin: 24% 22%;
				}
			}
		}
		.about-container_socials {
			ul {
				display: flex;
				flex-direction: row;
				padding: 50px 0;
				justify-content: center;

				// padding: 0;
				margin: 0;

				li {
					text-transform: uppercase;
					list-style: circle;
					margin: 0 15px;

					float: left;
					margin: 10px 20px 10px 0;
					padding: 3px 0 3px 0;
					overflow: hidden;

					&::before {
						content: none;
					}

					@media only screen and (max-width: @size-mobile-l) {
						margin: 5px 20px 5px 0;
					}

					a {
						&:after {
							content: '';
							display: block;
							position: relative;
							top: 0;
							left: 0;
							right: 0;
							width: 100%;
							height: 1px;
							transform: translateX(0%);
							background-color: rgba(0, 0, 0, 0.4);
							transform-origin: bottom left;
							transition: transform 0.3s ease-in-out;
						}

						&:hover {
							&:after {
								animation: 0.8s animateLine cubic-bezier(0.165, 0.84, 0.44, 1);
								animation-fill-mode: both;
							}
						}

						p {
							margin: 0;
						}
					}
				}
			}
		}
	}
}

@media (prefers-reduced-motion: no-preference) {
	.in-view {
		animation: fade 3s 1s both cubic-bezier(0.09, 1.17, 0.7, 1.01);
	}

	.not-in-view {
		opacity: 0;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
		transform: translate(0, 3rem);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes arrow {
	0% {
		transform: translateX(0);
	}

	29% {
		transform: translateX(50px);
	}

	30% {
		transform: translateX(-50px);
	}

	100% {
		transform: translateX(0px);
	}
}
