#gallery {
    #gallery-view {
        display: none;
        nav {
            figure {
                img {

                }
                figcaption {

                }
            }
        }
    }
    #gallery-list {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        nav {
            display: flex;
            flex-direction: column;
            position: relative;
            text-align: center;
            a {
                span {

                }
            }
        }
    }
}